<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 Statistics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/darkly/bootstrap.min.css">
    <script src="./index.js" defer></script>
    <style>.container { margin:150px auto;}</style>
  </head>
  <body>
    <div class="container" style="margin-top: 10px;">
      <h1 class="title mb-5">
        Stats
      </h1>
      <div>
        <div class="error"></div>
        <div class="info"></div>
        <div class="mb-5" style="margin-top: 0;">
          <select name="countries" id="countries" class="form-control">
            <option value="all">Worldwide</option>
          </select>
        </div>
        <div class="country-stats"></div>
      </div>
    </div>

  </body>
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 Statistics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/darkly/bootstrap.min.css">
    <script src="./index.js" defer></script>
    <style>.container { margin:150px auto;}</style>
  </head>
  <body>
    

<script type="text/javascript">
  const title = document.querySelector(".title");
const countriesSelect = document.getElementById("countries");
const BASE_URL = "https://covid19.mathdro.id/api";
let countriesOptions = [];
let error = null;
const errorDiv = document.querySelector(".error");
let info = "";
const infoDiv = document.querySelector(".info");
const countryStatsDiv = document.querySelector(".country-stats");

countriesSelect.addEventListener("change", e => {
  const countryCode = e.target.value;
  console.log(countryCode);
  getStatistics(countryCode)
    .then(stats => {
      displayStatistics(stats);
    })
    .catch(err => {
      countryStatsDiv.innerHTML = "";
      errorDiv.innerText = err.message;
    });
});

function getCountries() {
  return new Promise((resolve, reject) => {
    fetch(`${BASE_URL}/countries`)
      .then(data => data.json())
      .then(countries => {
        resolve(countries);
      })
      .catch(err => {
        reject(err);
        errorDiv.innerText = "Unable to retrieve country list";
      });
  });
}

getCountries().then(data => {
  let option;
  Object.entries(data.countries).forEach(country => {
    option = document.createElement("option");
    option.text = country[1].name;
    option.value = country[1].iso2;
    countriesSelect.add(option);
  });
});

getStatistics("world").then(stats => {
  displayStatistics(stats);
});

function displayStatistics(stats) {
  const lastUpdate = new Date(stats.lastUpdate);
  const niceDate = getLastDataUpdateDate(lastUpdate);
  errorDiv.innerText = "";
  const countryStats = `
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Confirmed : ${stats.confirmed.value}</h5>
                </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recovered : ${stats.recovered.value}</h5>
                </div>
                </div>
            </div>
             <div class="col-sm-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Deaths : ${stats.deaths.value}</h5>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-4">Data updated on: ${niceDate}</div>
        </div>
    `;
  countryStatsDiv.innerHTML = countryStats;
}

function getLastDataUpdateDate(lastUpdate) {
  return `${makeToDigits(lastUpdate.getDate())}/${makeToDigits(
    lastUpdate.getMonth() + 1
  )}/${makeToDigits(lastUpdate.getFullYear())} ${makeToDigits(
    lastUpdate.getHours()
  )}H${makeToDigits(lastUpdate.getMinutes())}min`;
}

function makeToDigits(value) {
  return value > 9 ? value : "0" + value.toString();
}

function getStatistics(countryCode) {
  let url;
  if (countryCode === "world") {
    url = "https://covid19.mathdro.id/api";
  } else {
    url = `${BASE_URL}/countries/${countryCode}`;
  }
  return new Promise((resolve, reject) => {
    fetch(url)
      .then(data => data.json())
      .then(stats => {
        console.log("stats", stats);
        if (stats.error) {
          throw Error(stats.error.message);
        }
        resolve(stats);
      })
      .catch(err => {
        reject(err);
        errorDiv.innerText = `Unable to retrieve statistics for ${countryCode}`;
      });
  });
}

</script>
  </body>
</html>
