
<!DOCTYPE html>
{%load static %}
<html lang="en">
    {% include 'main/includes/header.html'%}
<body>
    <div class="wrapper">
        <!-- Start Header Section -->
        <header id="header" class="header-dark">
            <div class="layer-stretch hdr">
                <div class="tbl animated fadeInDown">
                    <div class="tbl-row">
                        <!-- Start Header Logo Section -->
                        <div class="tbl-cell hdr-logo">
                            <a href="index.html"><img src="{% static 'media/images/Untitled.png' %}" alt="" style="width:50%;height:35%;position: relative;"></a>
                        </div><!-- End Header Logo Section -->
                        <div class="tbl-cell hdr-menu">
                            <!-- Start Menu Section -->
                            <ul class="menu">
                                <li class="menu-megamenu-li">
                                    <a href="/" class="mdl-button mdl-js-button mdl-js-ripple-effect">Home <i class="fa fa-chevron-down"></i></a>
                                   
                                </li>
                                {% if user.is_authenticated %}
                                <li>                           
                                    <a href="/account/" class="mdl-button mdl-js-button mdl-js-ripple-effect">{{user.username}}<i class="fa fa-chevron-down"></i></a>
                                   
                                </li>
                                <li>
                                    <a href="/logout/" class="mdl-button mdl-js-button mdl-js-ripple-effect">Logout <i class="fa fa-chevron-down"></i></a>
                                {% else %}
                                <li>                           
                                    <a href="/register/" class="mdl-button mdl-js-button mdl-js-ripple-effect">Register<i class="fa fa-chevron-down"></i></a>
                                   
                                </li>
                                <li>
                                    <a href="/login/" class="mdl-button mdl-js-button mdl-js-ripple-effect">Login <i class="fa fa-chevron-down"></i></a>  
                                </li>
                                {% endif %}
                                <li>
                                    <a href="/aboutus/" class="mdl-button mdl-js-button mdl-js-ripple-effect">About us<i class="fa fa-chevron-down"></i></a>
                                   
                                </li>
                                
                                  
                    
                            </ul><!-- End Menu Section -->
                            
                        </div>

        </header><!-- End Header Section -->
        <!-- Start Page Title Section -->
        <div class="page-ttl"style="background:  url('/static/media/images/slider-1.jpg');
        padding: 5%;
        color: white;
        background-repeat: no-repeat;
        background-size: cover;">
            <div class="layer-stretch">
                <div class="page-ttl-container">
                    <h1>Our <span class="text-primary">Blogs</span></h1>
                   
                </div>
            </div>
        </div><!-- End Page Title Section -->
        <!-- Start Blog Section -->
        <div class="blog">
            <div class="layer-stretch">
                <div class="layer-wrapper pb-3">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row pt-4">
                                <div class="col-12">
                                    <div class="blog-card">
                                        <img src="{% static 'media/images/image1.jpg' %}" alt="">
                                        <div>
                                            <h4>Tackling stigmatization</h4>
                                            <div class="blog-meta">
                                                <p><i class="icon-user"></i><span>Admin</span></p>
                                                <p><i class="icon-clock"></i><span>24 Jul</span></p>
                                                <p><i class="icon-bubble"></i><span>29</span></p>
                                            </div>
                                            <p>A calamity like COVID-19 brings out the best and worst in a society. We can see that around the world and, here in India, the big challenge is how to reduce the fear factor and make people understand that, just because they have the disease, it doesn’t mean that they are toxic.</p>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="blog-card">
                                        <img src="{% static 'media/images/image2.jpg' %}" alt="">
                                        <div>
                                            <h4>Vulnerable Indians need urgent help to cope with COVID-19 pandemic</h4>
                                            <div class="blog-meta">
                                                <p><i class="icon-user"></i><span>Admin</span></p>
                                                <p><i class="icon-clock"></i><span>24 Jul</span></p>
                                                <p><i class="icon-bubble"></i><span>29</span></p>
                                            </div>
                                            <p>Millions of people in India have a hand-to-mouth existence, and fast response measures put in place to curb the COVID-19 pandemic, are making life even more difficult for them. For this latest in our occasional series by UN country team leaders, Renata Dessallien, the UN Resident Coordinator in India, assesses the current situation. Her text is based on an interview with UN News.</p>
                                            <a href="#"><span>Read More</span><i class="icon-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="blog-card">
                                        <img src="{% static 'media/images/image3.jpg' %}" alt="">
                                        <div>
                                            <h4>The vulnerable citizens facing a humanitarian crisis</h4>
                                            <div class="blog-meta">
                                                <p><i class="icon-user"></i><span>Admin</span></p>
                                                <p><i class="icon-clock"></i><span>24 Jul</span></p>
                                                <p><i class="icon-bubble"></i><span>29</span></p>
                                            </div>
                                            This disease has two elements. The first is the health phase, and we are extremely preoccupied about that around the world. Here in India, investment in health, around 1% - 1.3% of GDP, is very low, and we are now worried about the consequences of that because it’s not enough to respond to the disease, if it takes the course that it has in other countries.</p>
                                            <a href="#"><span>Read More</span><i class="icon-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                       </div>
                       </div>
                       </div>
                       </div>
                       </div>
<!-- End Blog Section -->
        <!-- Start Action Section -->
        <div class="action">
            <div class="layer-stretch">
                <div class="layer-wrapper text-center">
                    <div class="layer-ttl"><h4>Right <span class="text-primary">your</span> own experiences</h4></div>
                    
                    <a href="#" class="btn btn-outline btn-primary btn-pill btn-outline-2x btn-lg mt-3">Tell Us Your Story</a>
                </div>
            </div>
        </div><!-- End Action Section -->
        <!-- Start Footer Section -->
        {% include 'main/includes/footer.html' %}
              
    
</body>
</html>