<!DOCTYPE html>
<html>
<!-- <head>
	<title>
	CovidAnand Now I will begin to add new template.
	</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css'%}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head> -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Site Title -->
    <title>APEZ - Responsive Multi-Purpose HTML5 Template</title>
    {% load static %}
    <!-- Meta Description Tag -->
    <meta name="Description" content="APEZ - Responsive Multi-Purpose HTML5 Template">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/x-icon" href="images/cc.png" />
    <!-- Material Design Lite Stylesheet CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/template_css/material.min.css' %}" />
    <!-- Material Design Select Field Stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'css/template_css/mdl-selectfield.min.css' %}">
    <!-- Animteheading Stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'css/template_css/animateheading.min.css' %}" />
    <!-- Owl Carousel Stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'css/template_css/owl.carousel.min.css' %}" />
    <!-- Animate Stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'css/template_css/animate.min.css' %}" />
    <!-- Magnific Popup Stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'css/template_css/magnific-popup.min.css' %}" />
    <!-- Flex Slider Stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'css/template_css/flexslider.min.css' %}" />
    <!-- Custom Main Stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'css/template_css/style.css' %}">
</head>




<body style="background-color: black;">



{% include 'main/includes/navbar.html' %}

{% include 'main/includes/slider.html' %}

{% include 'main/includes/messages.html' %}




  <div class="container">
  {% block content %}
  {% endblock %}
  </div>

</body>
</html>