<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>About Covid</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css'%}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css1/style.css'%}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css1/responsive.css'%}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png'%}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
       <link rel="stylesheet" href="{% static 'css1/owl.carousel.min.css'%}"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <style type="text/css">
   html {
  scroll-behavior: smooth;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  overflow: hidden;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>


   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'images/loading.gif'%}" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- top -->
                    <!-- header -->

      <!-- end header -->
            <div class="full_bg">
      <!-- header inner -->
         <div class="section">
            <!-- carousel code -->
            <div id="banner1" class="carousel slide slider_main">
               <ol class="carousel-indicators ">
                  <li data-target="#banner1" data-slide-to="0" class="indicator-li-1">01</li>
                  <li data-target="#banner1" data-slide-to="1" class="">02</li>
                  <li data-target="#banner1" data-slide-to="2" class="active">03</li>
               </ol>
               <div class="carousel-inner">
                  <!-- first slide -->
                  <div class="carousel-item active">
                     <div class="carousel-caption cuplle">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-8">
                                 <div class="photog">
                                    <h1>Care early<br></h1>
                                    <a style="background: #fff; text-align: center;  color: black; font-size: 30px;"  class="read_moree" href="#section2" >lets go<img  src="{% static 'images/darrow.png'%}" height="auto" width="40"></a>
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- second slide -->
                  <div class="carousel-item">
                     <div class="carousel-caption cuplle">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-8">
                                <div class="photog">
                                    <h1>Fight India<br></h1>
                                    <a style="background: #fff; text-align: center;  color: black; font-size: 30px;"  class="read_moree" href="#section2" >lets go<img  src="images/darrow.png" height="auto" width="40"></a>
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- third slide -->
                  <div class="carousel-item">
                     <div class="carousel-caption cuplle">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-8">
                                <div class="photog">
                                    <h1>Fight corona<br></h1>
                                    <a style="background: #fff; text-align: center;  color: black; font-size: 30px;"  class="read_moree" href="#section2" >lets go<img  src="images/darrow.png" height="auto" width="40"></a>
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- controls -->
               <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
               <i class="fa fa-angle-left" aria-hidden="true"></i>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
               <i class="fa fa-angle-right" aria-hidden="true"></i>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
      <!-- end banner -->
      <!-- about -->
      <div class="about" id="section2">
         <a href="#section1">
         <div class="container_width">
            <div class="row d_flex">
                   <div class="col-md-7">
                  <div class="titlepage text_align_left">
                     <h2>About Corona Virus </h2>
                     <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus. <br>

Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.<br>

The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. 
                     </p>
                     <a href="/overview/about" class="read_moree" style="color: #fff;">About More</a>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="about_img text_align_center">
                     <figure><img src="{% static 'images/about.png'%}" alt="#"/></figure>
                  </div>
               </div>
              
            </div>
         </div>
      </div>
      <!-- end about -->

     <!-- coronata -->
      <div class="coronata">
         <div class="container">
            <div class="row d_flex grid">
               <div class="col-md-7">
                  <div class="coronata_img text_align_center">
                     <figure><img src="{% static 'images/corona.png'%}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-5 oder1">
                  <div class="titlepage text_align_left">
                     <h2>Symptoms of covid-19</h2>
                     
                     <a class="read_moree" href="/overview/aboutcorona/">About More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end coronata -->
   
        <!-- protect -->
      
      </div>
      <div class="cases">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center ">
                     <h2>How to Protect Yourself</h2>
                     <p>.............................................................................................................................................................................................................................................</p>
                  </div>
               </div>
            </div>
            <div class="row d_flex">
               <div class=" col-md-4">
                  
                  <div class="latest text_align_center">
                     <figure><img src="{% static 'images/pro1.png'%}" alt="#"/></figure>
                      <!--<a class="read_more" href="cases.html">Read More</a>-->
                     <div class="nostrud">
                        <h3> Wear Mask</h3>
                        <p>
Before putting on a mask, clean hands with alcohol-based hand rub or soap and water.
Cover mouth and nose with mask and make sure there are no gaps between your face and the mask.
Avoid touching the mask while using it; if you do, clean your hands with alcohol-based hand rub or soap and water.</p>
                     </div>
                  </div>
               </div>
               <div class=" col-md-4">
                  <div class="latest text_align_center">
                     <figure><img src="{% static 'images/pro2.png'%}" alt="#"/></figure>
                      <!--<a class="read_more" href="cases.html">Read More</a>-->
                     <div class="nostrud">
                        <h3>Wash Your Hands</h3>
                        <p>Soap dissolves the fat membrane, and the virus falls apart like a house of cards and “dies,” or rather, it becomes inactive as viruses aren’t really alive. Viruses can be active outside the body for hours, even days.

Disinfectants, or liquids, wipes, gels and creams containing alcohol (and soap) have a similar effect but are not as good as regular soap. Apart from alcohol and soap, antibacterial agents in those products don’t affect the virus structure much. Consequently, many antibacterial products are basically just an expensive version of soap in how they act on viruses. Soap is the best, but alcohol wipes are good when soap is not practical or handy, for example in office reception areas.

</p>
                     </div>
                  </div>
               </div>
               <div class=" col-md-4">
                  <div class="latest text_align_center">
                     <figure><img src="{% static 'images/pro3.png'%}" alt="#"/></figure>
                      <!--<a class="read_more" href="cases.html">Read More</a>-->
                     <div class="nostrud">
                        <h3> Stay at Home</h3>
                        <p>Staying home amidst this crisis is really important because Corona Virus is a highly infectious virus and spreads like wildfire, please stay at home, watch movies, study, and make the best of these vacations ;). 

</p>
                     </div>
                  </div>
               </div>
               
               </div>
            
            </div>
         </div>
      </div>
      <!-- end protect -->
    <!-- cases -->
      <div class="cases">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center ">
                     <h2>Coronavirus Myths</h2>
                     <p>.............................................................................................................................................................................................................................................</p>
                  </div>
               </div>
            </div>
            <div class="row d_flex">
               <div class=" col-md-4">
                  <div class="latest text_align_center">
                     <figure><img src="{% static 'images/cases1.png'%}" alt="#"/></figure>
                      <!--<a class="read_more" href="cases.html">Read More</a>-->
                     <div class="nostrud">
                        <h3>01</h3>
                        <p>While several drug trials are ongoing, there is currently no proof that hydroxychloroquine or any other drug can cure or prevent COVID-19. The misuse of hydroxychloroquine can cause serious side effects and illness and even lead to death. WHO is coordinating efforts to develop and evaluate medicines to treat COVID-19.</p>
                     </div>
                  </div>
               </div>
               <div class=" col-md-4">
                  <div class="latest text_align_center">
                     <figure><img src="{% static 'images/cases2.png'%}" alt="#"/></figure>
                      <!--<a class="read_more" href="cases.html">Read More</a>-->
                     <div class="nostrud">
                        <h3>02</h3>
                        <p>The most common symptoms of COVID-19 are dry cough, tiredness and fever. Some people may develop more severe forms of the disease, such as pneumonia. The best way to confirm if you have  the virus producing COVID-19 disease is with a laboratory test.  You cannot confirm it with this breathing exercise, which can even be dangerous.</p>
                     </div>
                  </div>
               </div>
               <div class=" col-md-4">
                  <div class="latest text_align_center">
                     <figure><img src="{% static 'images/cases3.png'%}" alt="#"/></figure>
                      <!--<a class="read_more" href="cases.html">Read More</a>-->
                     <div class="nostrud">
                        <h3>03</h3>
                        <p>Viruses cannot travel on radio waves/mobile networks. COVID-19 is spreading in many countries that do not have 5G mobile networks.

COVID-19 is spread through respiratory droplets when an infected person coughs, sneezes or speaks. People can also be infected by touching a contaminated surface and then their eyes, mouth or nose. 

</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end cases -->
         <!-- doctors -->
      <div class="doctors">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center ">
                     <h2>What doctors say..</h2>
                  </div>
               </div>
            </div>
            <div class="row d_flex">
               <div class=" col-md-6">
                     <div id="ho_efcet" class="reader text_align_center">
                        <i><img src="{% static 'images/doctor1.png'%}" alt="#"/></i>
                        <h3>Dr.Golap den</h3>
                        <p>
                           <b>QUESTION: What should diabetics do during this pandemic?<br></b>
<b>ANSWER :-</b>  People with chronic illnesses must take extra precautions for their health and be on the lookout for minor and major symptoms. Diabetic patients must make sure to check blood sugar levels regularly and increase the frequency in case of an active COVID-19 infection since any symptom can possibly flare up blood glucose levels. Diabetic patients suffering from any viral disease must also be attended to at once because the pre-existing condition can make it difficult for the body to beat the infection naturally, if not taken care of in time and manifest into severe complications such as pneumonia and kidney failure (which have been linked to COVID-19 deaths).</p>
                        <span><img src="{% static 'images/do.png'%}" alt="#"/></span>
                     </div>
                  </div>
                          <div class=" col-md-6">
                     <div id="ho_efcet" class="reader text_align_center">
                        <i><img src="{% static 'images/doctor2.png'%}" alt="#"/></i>
                        <h3>Dr.Golap den</h3>
                        <p><b>QUESTION: Is it safe to eat meat and poultry during coronavirus outspread?</b><br>
                           <b>ANSWER :-</b>No food is actually unsafe, as long as you practice some needed precautions. As far as food is concerned, there is currently no evidence that food can be a route of transmission of the virus or a determinant of any form of infection. So eating non-vegetarian food is perfectly safe. However, we can take some extra precautions and make sure any meat is washed and cooked thoroughly at a high temperature. Good hygienic practices must also be followed before consuming raw fruits and vegetables. We can also avoid going to slaughterhouses as a precautionary habit for the time being until the infection is controlled fully.”
                        </p>
                        <span><img src="{% static 'images/do.png' %}" alt="#"/></span>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <!-- end cases -->
<!-- update -->

<!-- update -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                        <div class="col-lg-2 col-md-6 col-sm-6">
                           <div class="hedingh3 text_align_left">
                              <h3>Resources</h3>
                              <ul class="menu_footer">
                                 <li><a href="/overview/aboutcorona/">Corona Symptoms</a><li>
                                    <li><a href="/overview/about/">About Corona</a><li>
                                       <li><a href="/overview/">Overview</a><li> 
                                 
                              </ul>
                             
           
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                           <div class="hedingh3 text_align_left">
                             <h3>About</h3>
                              <p>The AnandFraternity is delighted to extend a warm welcome to the young minds for the exciting journey of Education with a Difference. Anand-ICE, the place where we celebrate excellence and attempt to transform youth into professionals, is amongst the top 10 engineering colleges in Rajasthan.</p>
                           </div>
                        </div>
                     
                
                       
                        <div class="col-lg-3 col-md-6 col-sm-6">
                           <div class="hedingh3  text_align_left">
                              <h3>Contact  Us</h3>
                                <ul class="top_infomation">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                           Near Kanota, Agra Road,
Jaipur, Rajasthan
303012  
                        </li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>
                           Call : 096940 97810
                        </li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>
                           <a href="Javascript:void(0)">Email : info@anandice.ac.in</a>
                        </li>
                     </ul>
                            
                           
                     </div>
                  </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                           <div class="hedingh3 text_align_left">
                              <h3>Covid-19 Tracker</h3>
                              <div class="map">
                                <a href="javascript:void(0)" id="myBtn"><img src="{% static 'images/map.png'%}" alt="#"/></a>

                                <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

    <p>
<iframe height="500px" width="100%" src="/overview/api">
  <p>Your browser does not support iframes.</p>
</iframe>


    </p>
  </div>

</div>
                              </div>
                           </div>
                        </div>
                    
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 offset-md-2">
                        <p>Anand International College of Engineering</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'js/jquery.min.js'%}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
      <script href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
      <script src="{% static 'js/owl.carousel.min.js"></script>
      <script src="{% static 'js/custom.js'%}"></script>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}



</script>


   </body>
</html>
