{% load static %}


<!-- Start Blog Section -->
        <div class="blog">
            <div class="layer-stretch">
                <div class="layer-wrapper pb-3">
                    <div class="layer-ttl"><h4>Some <span class="text-primary">Blogs</span></h4></div>
                    <div class="layer-sub-ttl">Would you like to see more?</div>
                    <div class="row pt-3">
                        <div class="col-md-6 col-lg-4">
                            <div class="blog-card">
                                <img src="{% static 'media/images/image1.jpg' %}" alt="" style="width:360px;height:289.92px;">
                                <div>
                                    <h4><a href="">Tackling stigmatization</a></h4>
                                    <div class="blog-meta">
                                        <p><i class="icon-user"></i><span>Admin</span></p>
                                        <p><i class="icon-clock"></i><span>24 Jul</span></p>
                                        <p><i class="icon-bubble"></i><span>29</span></p>
                                    </div>
                                    <p>A calamity like COVID-19 brings out the best and worst in a society. We can see that around the world and, here in India, the big challenge is how to reduce the fear factor and make people understand that, just because they have the disease, it doesn’t mean that they are toxic.</p>
                                    <a href="#"><span>Read More</span><i class="icon-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="blog-card">
                                <img src="{% static 'media/images/image2.jpg' %}" alt="" style="width:360px;height:289.92px;">
                                <div>
                                    <h4><a href="">
                                        Vulnerable Indians need urgent help to cope with COVID-19 pandemic</a></h4>
                                    <div class="blog-meta">
                                        <p><i class="icon-user"></i><span>Admin</span></p>
                                        <p><i class="icon-clock"></i><span>24 Jul</span></p>
                                        <p><i class="icon-bubble"></i><span>29</span></p>
                                    </div>
                                    <p>Millions of people in India have a hand-to-mouth existence, and fast response measures put in place to curb the COVID-19 pandemic, are making life even more difficult for them. For this latest in our occasional series by UN country team leaders, Renata Dessallien, the UN Resident Coordinator in India, assesses the current situation. Her text is based on an interview with UN News.</p>
                                    <a href="#"><span>Read More</span><i class="icon-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="blog-card">
                                <img src="{% static 'media/images/image3.jpg' %}" alt="" style="width:360px;height:289.92px;">
                                <div>
                                    <h4><a href="">The vulnerable citizens facing a humanitarian crisis</a></h4>
                                    <div class="blog-meta">
                                        <p><i class="icon-user"></i><span>Admin</span></p>
                                        <p><i class="icon-clock"></i><span>24 Jul</span></p>
                                        <p><i class="icon-bubble"></i><span>29</span></p>
                                    </div>
                                    <p>This disease has two elements. The first is the health phase, and we are extremely preoccupied about that around the world. Here in India, investment in health, around 1% - 1.3% of GDP, is very low, and we are now worried about the consequences of that because it’s not enough to respond to the disease, if it takes the course that it has in other countries.</p>
                                    <a href="#"><span>Read More</span><i class="icon-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Blog Section -->