

<div class="layer-stretch">
            <div class="layer-wrapper pb-20">
                <div class="layer-ttl"><h4>Some <span class="text-primary">Categories</span></h4></div>
                <div class="row pt-3">
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <a href="#" class="category-grid">
                            <i class="fas fa-clock"></i>
                            <p class="title">Overview</p>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <a href="#" class="category-grid">
                            <i class="fas fa-poll"></i>
                            <p class="title">contest</p>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <a href="#" class="category-grid">
                            <i class="fas fa-folder-open"></i>
                            <p class="title">Explore</p>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <a href="#" class="category-grid">
                            <i class="fas fa-warehouse"></i>
                            <p class="title">Resources</p>
                        </a>
                    </div>
                    
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <a href="#" class="category-grid">
                            <i class="fab fa-wpforms"></i>
                            <p class="title">survey</p>
                        </a>
                        
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <a href="#" class="category-grid">
                            <i class="far fa-address-card"></i>
                            <p class="title">About-us</p>
                        </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>