{% load static %}


        <!-- Start Footer Section -->
        <footer id="footer">
            <div class="layer-stretch">
                <!-- Start main Footer Section -->
                <div class="row layer-wrapper">
                    <div class="col-md-4 footer-block">
                        <div class="footer-ttl"><p>Contact Us</p></div>
                        <div class="footer-container footer-a">
                            <div class="tbl">
                                <div class="tbl-row">
                                    <div class="tbl-cell"><i class="fa fa-map-marker"></i></div>
                                    <div class="tbl-cell">
                                        <p class="paragraph-medium paragraph-white">
                                            Near Kanota, Agra Road, <br/> Jaipur, Rajasthan<br/> 303012
                                        </p>
                                    </div>
                                </div>
                                <div class="tbl-row">
                                    <div class="tbl-cell"><i class="fa fa-phone"></i></div>
                                    <div class="tbl-cell">
                                        <p class="paragraph-medium paragraph-white">096940 97810</p>
                                    </div>
                                </div>
                                <div class="tbl-row">
                                    <div class="tbl-cell"><i class="fa fa-envelope"></i></div>
                                    <div class="tbl-cell">
                                        <p class="paragraph-medium paragraph-white">info@anandice.ac.in</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-block">
                        <div class="footer-ttl"><p>Quick Links</p></div>
                        <div class="footer-container footer-b">
                            <div class="tbl">
                                <div class="tbl-row">
                                    <ul class="tbl-cell">
                                        <li><a href="/overview/">Overview</a></li>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/aboutus/">About us</a></li>
                                        <li><a href="/survey/">Survey</a></li>
                                        <li><a href="/resources/">Resources</a></li>
                                    </ul>
                                    <ul class="tbl-cell">
                                        <li><a href="/lo/">Sign In</a></li>
                                        <li><a href="/register/">Sign Up</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-block">
                       <div class="footer-ttl"><p>Social Media</p></div>
                            <ul class="social-list social-list-colored footer-social">
                                <li>
                                    <a href="https://www.facebook.com/pages/category/College---University/Anand-International-College-of-Engineering-Jaipur-789735534445909/" target="_blank" id="footer-facebook" class="fab fa-facebook"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-facebook">Facebook</span>
                                </li>
                                <li>
                                    <a href="https://twitter.com/anandcollegeeng?lang=en" target="_blank" id="footer-twitter" class="fab fa-twitter"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-twitter">Twitter</span>
                                </li>
                                <li>
                                    <a href="#" target="_blank" id="footer-google" class="fab fa-google"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-google">Google</span>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/anandcollege.eng/?hl=en" target="_blank" id="footer-instagram" class="fab fa-instagram"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-instagram">Instagram</span>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCAcHeVvVgwRx7wSWw69RgYg" target="_blank" id="footer-youtube" class="fab fa-youtube"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-youtube">Youtube</span>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/school/anand-college-of-engineering/" target="_blank" id="footer-linkedin" class="fab fa-linkedin"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-linkedin">Linkedin</span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End main Footer Section -->

        </footer><!-- End of Footer Section -->
    </div>

    <!-- Jquery Library 2.1 JavaScript-->
    <script src="{% static 'css/template_css/jquery-2.1.4.min.js' %}"></script>
    <!-- Popper JavaScript-->
    <script src="{% static 'css/template_css/popper.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript-->
    <script src="{% static 'css/template_css/bootstrap.min.js' %}"></script>
    <!-- Modernizr Core JavaScript-->
    <script src="{% static 'css/template_css/modernizr.js' %}"></script>
    <!-- Animaateheading JavaScript-->
    <script src="{% static 'css/template_css/animateheading.js' %}"></script>
    <!-- Material Design Lite JavaScript-->
    <script src="{% static 'css/template_css/material.min.js' %}"></script>
    <!-- Material Select Field Script -->
    <script src="{% static 'css/template_css/mdl-selectfield.min.js' %}"></script>
    <!-- Flexslider Plugin JavaScript-->
    <script src="{% static 'css/template_css/jquery.flexslider.min.js' %}"></script>
    <!-- Owl Carousel Plugin JavaScript-->
    <script src="{% static 'css/template_css/owl.carousel.min.js' %}"></script>
    <!-- Scrolltofixed Plugin JavaScript-->
    <script src="{% static 'css/template_css/jquery-scrolltofixed.min.js' %}"></script>
    <!-- Magnific Popup Plugin JavaScript-->
    <script src="{% static 'css/template_css/jquery.magnific-popup.min.js' %}"></script>
    <!-- WayPoint Plugin JavaScript-->
    <script src="{% static 'css/template_css/jquery.waypoints.min.js' %}"></script>
    <!-- CounterUp Plugin JavaScript-->
    <script src="{% static 'css/template_css/jquery.counterup.js' %}"></script>
    <!-- masonry Plugin JavaScript-->
    <script src="{% static 'css/template_css/masonry.pkgd.min.js' %}"></script>
    <!-- SmoothScroll Plugin JavaScript-->
    <script src="{% static 'css/template_css/smoothscroll.min.js' %}"></script>
    <!--Custom JavaScript-->
    
    <script src="{% static 'css/template_css/traker.js' %}"></script>