<!-- Start Service Section -->
         <div class="service">
            <div class="layer-stretch">
                <div class="layer-wrapper pb-20">
                    <div class="layer-ttl"><h4>Live <span class="text-primary">tracker</span></h4></div>
                    <p class="layer-sub-ttl"> India.</p>
                    <div class="row pt-4">
                        <div class="col-md-6 col-lg-4">
                            <div class="service-card service-card-2">
                                <div class="tbl-cell">
                                    <div class="service-icon"><i class="fas fa-virus"></i></i></div>
                                </div>
                                <div class="tbl-cell">
                                    <div class="service-heading">Total Cases</div>
                                    <div class="service-body">
                                        <p><h4><div id="app1"></div></h4></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="service-card service-card-2">
                                <div class="tbl-cell">
                                    <div class="service-icon"><i class="fas fa-shield-virus"></i></i></div>
                                </div>
                                <div class="tbl-cell">
                                    <div class="service-heading">Recoverd</div>
                                    <div class="service-body">
                                        <p><h4><div id="app2"></div></h4></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="service-card service-card-2">
                                <div class="tbl-cell">
                                    <div class="service-icon"><i class="fas fa-lungs-virus"></i></i></div>
                                </div>
                                <div class="tbl-cell">
                                    <div class="service-heading">Total Death</div>
                                    <div class="service-body">
                                        <p><h4><div id="app3"></div></h4></p>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
         </div>