
  {% if messages %}
      {% for message in messages %}
          {% if message.tags == 'success' %}
            <script>M.toast({html: "{{message}}", classes: "green rounded"});</script>
          {% elif message.tags == 'info' %}
            <script>M.toast({html: "{{message}}", classes: "blue rounded"});</script>
          {% elif message.tags == 'warning' %}
            <script>M.toast({html: "{{message}}", classes: "orange rounded"});</script>
          {% elif message.tags == 'error' %}
            <script>M.toast({html: "{{message}}", classes: "red rounded"});</script>
          {% endif %}
      {% endfor %}
  {% endif %}

