{% load static %}

<!-- Start Service Section -->
        <div class="bg-light">
            <div class="layer-stretch">
                <div class="layer-wrapper">
                    <div class="layer-ttl"><h4>Most <span class="text-primary">Affected</span> Places</h4></div>
                    <p class="layer-sub-ttl">Discover top-affected places .</p>
                    <div class="row pt-3">
                        <div class="col-md-4">
                            <a class="card-most-visited">
                                <div class="image">
                                    <img src="{% static 'media/images/1.jpg' %}" alt="">
                                </div>
                                
                                <div class="details">
                                    
                                    
                                    <span class="descr">America</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="card-most-visited">
                                <div class="image">
                                    <img src="{% static 'media/images/china.jpg' %}" alt=""style="width:360px;height:240px;">
                                </div>
                                <div class="details">
                                    
                                    
                                    <span class="descr">china</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="card-most-visited">
                                <div class="image">
                                    <img src="{% static 'media/images/india.jpg' %}" alt=""style="width:360px;height:240px;">
                                </div>
                                
                                <div class="details">
                                    
                                    
                                    <span class="descr">india
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Service Section -->